body {font-family: 'Anonymous Pro', monospace;
}
a { color: inherit;
}
* {
  box-sizing: border-box;
}
h1 {  position: absolute;
width: 524px;
height: 66px;
margin-left: 115px;
margin-top: 102px;
font-family: 'Anonymous Pro', monospace; font-weight: bold; font-size: 71px; line-height: 32px; color: #E7FFE3;
}
h2 {
position: absolute;
width: 400px;
height: 110px;
left: 141px;
top: 298px;
font-family: Anonymous Pro;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 36px;
color: #D9FFD2;
}
h3 {
  margin-left: 111px;
  margin-bottom: 37px;
  font-family: Anonymous Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 105.5%;
  color: #D9FFD2;
}
h4 {
width: 1144px;
height: 109px;
margin-left: 141px;
font-family: Anonymous Pro;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 38px;
color: #62FF48;
}
/* h2 {
  position: absolute;
  width: 40px;
  height: 72px;
  left: 50px;
  top: 144px;
font-family: Anonymous Pro;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 72px;
text-align: right;
color: #2E2E2E;
} */
/* h3 {
position: absolute;
width: 400px;
height: 110px;
left: 141px;
top: 357px;
font-family: Anonymous Pro;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 36px;
color: #D9FFD2;
}
h4 {
  position: absolute;
  width: 433px;
  height: 38px;
  margin-left: 111px;
  font-family: Anonymous Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 105.5%;
  color: #D9FFD2;

}
section h4 {
    margin-bottom: 30px;
}
section p {
margin-left: 141px;
font-family: Anonymous Pro;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 38px;
color: #62FF48;
} */
.sidebar p {font-family: 'Anonymous Pro', monospace; font-weight: normal; font-size: 36px; line-height: 37px; text-align: right; color: #2E2E2E;
}
.menubar {
display: flex;
justify-content: space-between;
align-items: center;
height: 62px;
padding: 0 20px;
border-bottom: 1px solid #E7FFE3;
}
.menubar a {
font-style: normal;
font-weight: normal;
font-size: 27px;
text-decoration: none;
color: #E7FFE3;
padding-left: 24px;
padding-right: 24px;
}
