.a {
  position: absolute;
  width: 1168px;
  height: 685px;
  margin-left: 111px;
  margin-top: 161px;
  border-left: 1px solid #2F2F2F;
}
.b {
  position: absolute;
  width: 1168px;
  height: 133px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.c {
  position: absolute;
  width: 1168px;
  height: 430px;
  margin-top: 254px;
  border-left: 1px solid #2F2F2F;
}
.d {
  position: absolute;
  width: 1168px;
  height: 430px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.e {
  position: absolute;
  margin-left: 111px;
  margin-top: 44px;
  width: 1168px;
  height: 984px;
  border-left: 1px solid #2F2F2F;
}
.f {
  position: absolute;
  margin-left: 28px;
  width: 1168px;
  height: 22px;
  border-left: 1px solid #2F2F2F;
}
.g {
  position: absolute;
  margin-left: 28px;
  margin-top: 150px;
  width: 1168px;
  height: 353px;
  border-left: 1px solid #2F2F2F;
}
.h {
  position: absolute;
  margin-left: 28px;
  width: 1168px;
  height: 353px;
  border-left: 1px solid #2F2F2F;
}
.i {
  position: absolute;
  margin-left: 28px;
  margin-top: 594px;
  width: 1168px;
  height: 208px;
  border-left: 1px solid #2F2F2F;
}
.j {
  position: absolute;
  margin-left: 28px;
  width: 1168px;
  height: 97px;
  border-left: 1px solid #2F2F2F;
}
.k {
  position: absolute;
  margin-left: 28px;
  margin-top: 148px;
  width: 1168px;
  height: 59px;
  border-left: 1px solid #2F2F2F;
}
.l {
  position: absolute;
  margin-left: 28px;
  margin-top: 887px;
  width: 1168px;
  height: 97px;
  border-left: 1px solid #2F2F2F;
}
.m {
  position: absolute;
  margin-left: 28px;
  width: 1168px;
  height: 97px;
  border-left: 1px solid #2F2F2F;
}
.n {
  position: absolute;
  width: 1168px;
  height: 1829px;
  margin-left: 111px;
  margin-top: 46px;
  border-left: 1px solid #2F2F2F;
}
.o {
  position: absolute;
  width: 1168px;
  height: 319px;
  margin-left: 28px;
  margin-top: 219px;
  border-left: 1px solid #2F2F2F;
}
.p {
  position: absolute;
  width: 1000px;
  height: 97px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.q {
  position: absolute;
  width: 1000px;
  height: 97px;
  margin-left: 28px;
  margin-top: 220px;
  border-left: 1px solid #2F2F2F;
}
.r {
  position: absolute;
  width: 282px;
  height: 282px;
  margin-top: 478px;
  border-left: 1px solid #2F2F2F;
}
.s {
  position: absolute;
  width: 282px;
  height: 282px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.t {
  position: absolute;
  width: 763px;
  height: 761px;
  margin-left: 28px;
  margin-top: 1069px;
  border-left: 1px solid #2F2F2F;
}
.u {
  position: absolute;
  width: 763px;
  height: 135px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.v {
  position: absolute;
  width: 763px;
  height: 140px;
  margin-left: 28px;
  margin-top: 621px;
  border-left: 1px solid #2F2F2F;
}
.w {
  position: absolute;
  width: 1021px;
  height: 1021px;
  margin-left: 111px;
  margin-top: 45px;
  border-left: 1px solid #2F2F2F;
}
.x {
  position: absolute;
  width: 467px;
  height: 467px;
  margin-left: 28px;
  margin-top: 184px;
  border-left: 1px solid #2F2F2F;
}
.y {
  position: absolute;
  width: 467px;
  height: 467px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.z {
  position: absolute;
  width: 241px;
  height: 241px;
  margin-left: 28px;
  margin-top: 780px;
  border-left: 1px solid #2F2F2F;
}
.ab {
  position: absolute;
  margin-left: 28px;
  width: 1168px;
  height: 22px;
  border-left: 1px solid #2F2F2F;
}
.ac {
  position: absolute;
  width: 97px;
  height: 97px;
  margin-left: 28px;
  top: 143px;
  border-left: 1px solid #2F2F2F;
}
.ad {
  position: absolute;
  width: 1207px;
  height: 1207px;
  margin-left: 111px;
  margin-top: 44px;
  border-left: 1px solid #2F2F2F;
}
.ae {
  position: absolute;
  width: 800px;
  height: 800px;
  margin-left: 28px;
  margin-top: 185px;
  border-left: 1px solid #2F2F2F;
}
.af {
  position: absolute;
  width: 800px;
  height: 800px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.ag {
  position: absolute;
  width: 97px;
  height: 97px;
  margin-left: 28px;
  margin-top: 1110px;
  border-left: 1px solid #2F2F2F;
}
.ah {
  position: absolute;
  width: 97px;
  height: 97px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.ai {
  position: absolute;
  width: 1243px;
  height: 1248px;
  margin-left: 111px;
  margin-top: 41px;
  border-left: 1px solid #2F2F2F;
}
.aj {
  position: absolute;
  width: 319px;
  height: 319px;
  margin-left: 28px;
  margin-top: 221px;
  border-left: 1px solid #2F2F2F;
}
.ak {
  position: absolute;
  width: 319px;
  height: 319px;
  margin-left: 28px;
  border-left: 1px solid #2F2F2F;
}
.al {
  position: absolute;
  width: 318px;
  height: 318px;
  margin-left: 28px;
  margin-top: 636px;
  border-left: 1px solid #2F2F2F;
}
.am {
  position: absolute;
  margin-left: 28px;
  width: 1168px;
  height: 22px;
  border-left: 1px solid #2F2F2F;
}
.an {
  position: absolute;
  width: 134px;
  height: 134px;
  margin-left: 28px;
  margin-top: 183px;
  border-left: 1px solid #2F2F2F;
}
